<link rel="import" href="https://rawgit.com/Download/polymer-cdn/master/lib/polymer/polymer.html">

<dom-module id="application-demo-app">
  	<template>
    	<div>
    	<p>This is a app served by component "polymer".</p>

		<form id="polymer-form">
		  	First name:<br>
		  	<input type="text" name="firstname"><br>
		  	Last name:<br>
		  	<input type="text" name="lastname">
		  	<input type="submit" value="go">
		</form> 

		<div id="polymer-response"><p>Here goes the AJAX response</p></div>
    	</div>
	</template>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

	<script>
    Polymer({
    	is: 'application-demo-app',
    	properties: {
        	prop1: {
          	type: String,
          	value: 'application-demo-app',
        	},
      	},
    });
	$(document).ready(function() {
		$("#polymer-form").submit(function(event) {
			var url = "/remote/polymer/result.php"
			$.ajax({
				type: "POST",
				url: url,
				data: $("#polymer-form").serialize(),
				success: function(data) {
					$("#polymer-response").html(data);
				}
			});
			event.preventDefault();
		});
	});  
	</script>
</dom-module>